[TYPECHECK]
ignored-modules	= numpy, netCDF4, scipy, torch

[MESSAGES CONTROL]
disable =
  missing-module-docstring,
  missing-function-docstring,
  missing-class-docstring,
  logging-fstring-interpolation,
  invalid-name,
  too-few-public-methods,
  too-many-statements,
  too-many-arguments,
  too-many-locals,
  too-many-instance-attributes,
  fixme,
  duplicate-code,


[format]
max-line-length = 88

[MASTER]
ignore-paths=^cloudnetpy/model_evaluation/tests/.*$,
