name: Upload Python Package

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Generate changelog
      run: |
        version=${GITHUB_REF#refs/tags/v}
        sed "0,/^## ${version//./\\.}/d;/^## /,\$d" CHANGELOG.md > ${{ github.workspace }}-CHANGELOG.txt
        echo "::set-output name=name::CloudnetPy $version"
      id: changelog
    - name: Create release
      uses: softprops/action-gh-release@v1
      with:
        name: ${{ steps.changelog.outputs.name }}
        body_path: ${{ github.workspace }}-CHANGELOG.txt
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install setuptools wheel twine
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWRD }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
